.title-bar {
    display: flex;
    flex-direction: row;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5px;
    background-color: ivory;
    justify-content: space-between;
}

.title-bar ul li {
    list-style-type: none;
    display: inline-flex;
    padding: 5px;
}

.image {
    height: 150px;
    width: 150px;
    border-radius: 2px;
}

.list {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}


.btn {
    margin: 10px
}

.card {
    border: 0.02rem solid lightblue;
    width: 15rem;
    text-align: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
}
.card-title{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: darksalmon;
}
.card-cuisines{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkkhaki;
    font-weight: lighter;
}
.card-discount{
    color:dodgerblue;
}
.card-rating{
    color:darkgreen;
}

.shimmer-card{
    border: 0.02rem solid lightblue;
    width: 15rem;
    text-align: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
}